.infoRectangle {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 15rem;
  border-radius: 1rem;
  overflow: auto;
}

.hShot {
  scale: 80%;
  border-radius: 1.5rem;
}

.cPageTitle {
  font-size: 3.5rem;
}

.form-control {
  font-weight: bold;
  overflow: auto;
}

.msgConfirm {
  font-weight: bold;
  font-size: 2rem;
}
