.page-shell,
.home-page {
  background-color: #f4efe8;
  border-radius: 1.25rem;
  padding: 2rem;
}

.hImg {
  scale: 100%;
  border-radius: 1rem;
}

.wave {
  font-size: 3rem;
  display: inline-block;
  animation: animate-wave 500ms infinite ease-in-out;
}

@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}

.hLL {
  scale: 160%;
  fill: var(--bs-secondary);
}

.hGitHub {
  scale: 35%;
  fill: var(--bs-secondary);
}

.hResume {
  scale: 175%;
  fill: var(--bs-secondary);
}
