.hImg {
  scale: 70%;
  border-radius: 1rem;
}

.wave {
  font-size: 3rem;
  display: inline-block;
  animation: animate-wave 500ms infinite ease-in-out;
}

@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}

.hLL {
  scale: 160%;
  fill: var(--bs-danger);
}

.hGitHub {
  scale: 35%;
  fill: var(--bs-danger);
}

.hResume {
  scale: 175%;
  fill: var(--bs-danger);
}
