.card {
  position: relative;
}

.card-img-container {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease; /* Add transition for smooth effect */
}

/* Text does not scale with screen size currently. */
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #69696946; /* Overlay color and opacity */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-overlay-content {
  padding: 2rem;
}

.card:hover .card-overlay {
  opacity: 1;
}

.card:hover .card-img-container {
  filter: blur(0.1rem);
}

.card-overlay-content {
  padding: 1.3rem;
  color: white;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 0;
}

.GitHub {
  scale: 30%;
  margin-top: -1rem;
  margin-left: -2rem;
}

.Link {
  scale: 175%;
  margin-top: -1rem;
}
