/* Reset default margin and padding for all elements */
* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

/* Placeholder image */
::placeholder {
  font-weight: bold;
}

.pageTitle {
  font-size: 4.5rem;
}
